body {
  font-family: "MTSans RegularCondensed", "Arial Narrow", "Arial", sans-serif;
  font-weight: 400;
}

#root {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 44px;
  font-weight: 700;
  color: $color-primary-light;
  text-transform: uppercase;
}
