.tank-list {
  max-width: $content-max-width;
  margin: 0 auto;
  padding: $content-padding;
  overflow: hidden;
}

.tank-not-found {
  text-align: center;
  color: $color-primary-soft;
  font-size: 20px;
  margin-top: 24px;
}
